

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-nav-wrapper {
	background-color: #ffffff;
	position: fixed;
	width: 100%;

	z-index: 1000;
}

.page-nav {
	margin: 0;
	
	font-family: 'Roboto', sans-serif;
	
	
}

.nav-link {
	color: #000000;
	padding: 20px !important; 
}


.nav-item a:hover{
	color:  #ffffff;
}
.nav-item {
	
	color: #000000;
}	

.nav-item:hover {
	
	color: #ffffff;
	background-color: #000000;
}
.home {
	text-align: center;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;

}

.developer-heading {
	text-align: center;
	text-transform: uppercase;
	margin: 160px 0 50px 0; 
	font-family: 'Roboto-bold', sans-serif;
	font-size: 55px;
}

.developer-info {
	margin: 120px;
}
.lern-more-btn {
	margin-bottom: 100px;

}

.home-wrapper {
	background-color: #87509c;
	background-image: url(../img/pexels-photo-767956.jpeg);
	background-size: 100% 100%;


}




.experience-wrapper {
	background-color: #ffffff;
}

.experience {
	padding: 80px 0;
	font-family: 'Roboto', sans-serif;
}

.my-image {
	width: 100%;
	height: 100%
}

.experience-heading-main {
	font-size: 40px;
	text-align: center;
	padding-bottom: 40px;
}
.experience-heading {
	font-family: 'Roboto-bold', sans-serif;
	font-size: 30px;

}

.skills-wrapper {
	background-color: #82d2ef;
}
.skills {
	padding: 80px 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #000000;
}

.skills-info {
	text-align: left;
	margin: 30px;
}

.skills-info-item {
	padding: 10px ;
}
.skills-heading-main{
	font-size: 40px;
	font-family: 'Roboto-bold', sans-serif;
	color: #ffffff;
}

.skills-heading {
	font-size: 30px;
}


.item-values:before {
	content: "";
	width: 150px;
	height: 150px;
	margin: 0 auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;


	background-image: url(../img/blue-star-icon.png);
	background-size: cover;
}

.item-goals:before {
	content: "";
	width: 130px;
	height: 130px;
	margin: 0 auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;


	background-image: url(../img/Goal@2x.png);
	background-size: cover;
}
.item-hobbies:before {
	content: "";
	width: 130px;
	height: 130px;
	margin: 0 auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;

	background-image: url(../img/12.png);
	background-size: cover;
}

.about-me-wrapper {
	background-color: #ffffff;
}

.about-me {
	padding:  80px;

	font-family: 'Roboto', sans-serif;
	color: #000000;
	font-size: 20px;
	text-align: center;
}

.about-me-heading {
	font-size: 40px;
	font-family: 'Roboto-bold', sans-serif;
	padding-bottom: 40px;
}

.item-hobbies-heading {
	font-size: 30px;
}

.about-me-item {
	position: relative;

	padding-top: 180px;

}

.portfolio-wrapper {
	background-color: #e2d3a9;
}
.portfolio {
	padding: 80px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-align: center;
	color: #000000;
}

.portfolio-heading {
	font-family: 'Roboto-bold', sans-serif;
	font-size: 40px;
}

.portfolio-info {
	margin: 30px;
	
}

.portfolio-item {
	padding:  20px;
}

.portfolio-item img {
	width: 100%;
}


.portfolio-item:hover img {
	opacity: 0.5;
	
}

.contacts-wrapper {
	background-color: #485782;
}

.contacts {
	font-family: 'Roboto', sans-serif;
	padding: 60px;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
}

.contacts-heading {
	font-family: 'Roboto-bold', sans-serif;
	font-size: 40px;
	margin-bottom: 60px;
}
.input-name {
	padding: 5px 50px;
	margin: 10px;
}
.input-email {
	padding: 5px 50px;
	margin: 10px;

}
.input-message {
	padding: 20px 50px;
	margin: 10px;

}
.contacts-list
{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 141px;
	margin: 0 auto;
	padding: 0;
}

.social-button {

	display: flex;
	align-items: center;
	justify-content: center;
	width: 43px;
	height: 43px;
	
	color: #ffffff;
	background-color: #485782;
	list-style: none;
}

.social-button:hover,
.social-button:focus {
	background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
	fill: #485782;
}

.form-submit {
	padding: 10px 80px;
	background-color:  #fffdfd00;
	border-radius: 10px;
	margin: 20px;
	color: #ffffff;
}

.form-submit:hover {
	background-color:  #ffffff;

	color: #000000;
}

@media (max-width: 768px) {
	.page-nav-wrapper {
		display: none;
	}
	.home {

	font-size: 30px;

}

.developer-heading {
	margin: 50px 0 25px 0; 
	font-size: 50px;
}

.developer-info {
	margin: 0;
	margin-bottom: 25px ;
}
.lern-more-btn {
	margin-bottom: 50px;

}



.skills {
	padding: 50px;
	font-size: 15px;
}

.skills-info {
	text-align: left;
	margin: 25px;
}

.skills-info-item {
	padding: 5px ;
}
.skills-heading-main{
	font-size: 30px;
	
}

.skills-heading {
	font-size: 20px;
}

.about-me-item {
	position: relative;

	padding-top: 100px;

}

.item-values:before {
	content: "";
	width: 75px;
	height: 75px;
	
	
}

.item-goals:before {
	
	width: 75px;
	height: 75px;
	
	
}
.item-hobbies:before {
	
	width: 75px;
	height: 75px;
	
	
}

.about-me {
	padding:  50px;
	font-size: 15px;
}

.about-me-heading {
	font-size: 30px;
}

.expirience {
	padding: 20px;
	font-size: 15px;
}


.expirience-heading-main {
	font-size: 30px;
	
	padding-bottom: 10px;
}

.expirience-heading {
	padding: 10px;
	font-size: 20px;
}

.portfolio {
	padding: 50px;
	font-size: 15px;
	
}

.portfolio-heading {
	font-size: 30px;
}

.portfolio-info {
	margin: 20px;
	
}

.portfolio-item {
	padding:  20px;
}

.contacts {
	
	padding: 40px;
	font-size: 15px;
	
}

.contacts-heading {
	font-size: 30px;
	margin-bottom: 30px;
}

}

